# SDP base URLs (adjust domain if using .com, .in or .au {e.g. https://sdpondemand.manageengine.com})
SDP_BASE_URL=https://sdpondemand.manageengine.eu
SDP_ACCOUNTS_URL=https://accounts.zoho.com

# server-based OAuth2 application credentials
SDP_CLIENT_ID=your_zoho_client_id_here
SDP_CLIENT_SECRET=your_zoho_client_secret_here
SDP_REFRESH_TOKEN=your_zoho_refresh_token_here

# system logging
LOG_LEVEL=INFO